.slide1 {
  background-image: url("https://media.istockphoto.com/photos/colorful-kids-toys-frame-on-wooden-background-top-view-flat-lay-copy-picture-id1129815637?k=20&m=1129815637&s=612x612&w=0&h=OOKxuOWaEL6-ZCg5rHZSLLk51m481T23Jm8uDhVYSQ8=");
  height: 60vh;
  background-size: 100% 100%;
}
.slick-arrow.slick-prev {
  color: gray;
  margin-left: 40px;
  z-index: 1;
}
.slick-arrow.slick-next {
  color: gray;
  margin-right: 50px;
  z-index: 1;
}
.slick-arrow.slick-prev:before,
.slick-arrow.slick-next:before {
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.slide2 {
  background-image: url("https://img.freepik.com/free-vector/kid-zone-flat-design-wallpaper_52683-77167.jpg?w=2000");
  height: 60vh;
  background-size: 100% 100%;
}
.slide2btn_div {
  position: absolute;
  top: 46%;
  margin-left: 2%;
}
.slide2btn {
  padding: 10px 25px;
  border-radius: 50px;
  border: 1px solid black;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  background-color: #fbe0ab;
  color: crimson;
  cursor: pointer;
}
.catehead {
  text-align: center;
  font-size: 25px;
}
.catehead2{
  text-align: center;
  font-size: 25px;
  color: black;
}
.home_div2 {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: auto;
  background-color: var(--hcbgc);
}
.abthead {
  text-align: center;
  font-size: 25px;
}
.home_div3 {
  background-color: #f9dfe6;
}
.home_div4 {
  display: flex;
}
.abtImg {
  width: 50%;
}
.about_content_div {
  width: 50%;
  margin: auto;
}
.abtcon {
  padding: 0px 20px;
  text-align: justify;
  font-size: 20px;
  font-family: "Courgette", cursive;
}
.cards {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  background-color: var( --navbgclr);
}
.cards:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scaleY(1.1);
  cursor: pointer;
}
.imgcat {
  width: 60%;
  height: 200px;
  margin: auto;
  margin-top: 30px;
}
.headcat {
  color: var(--hcbc);
}
.cate_img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

@media screen and (min-width: 600px) and (max-width: 991px) {
  .home_div2 {
    display: flex;
    flex-wrap: wrap;
  }
  .cards {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  .home_div2 {
    flex-direction: column;
  }
  .cards {
    width: 80%;
    margin: auto;
  }
  .home_div3 {
    flex-direction: column;
  }
  .abtImg {
    width: 100%;
  }
  .about_content_div {
    width: 100%;
    padding: 0px 5px;
  }
}
